[user]
	name = Sean Mare
	email = sean.mare@gmail.com
[init]
	defaultBranch = dev
[web]
	browser = google-chrome
[push]
	default = simple
[color]
	ui = always
    diff = always
    interactive = always
    grep = always
    decorate = always
    showbranch = always    
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = cyan
[color "status"]
    added = yellow
    changed = green
    untracked = bold red    
[alias]
	lg = log --oneline --decorate --graph --all
	s = status -s
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    brd = "! f() { for k in $(git branch $@ | sed 's/^..//; s/ .*//'); do echo "$(git log -1 --pretty='%Cgreen%ci%Creset %C(yellow)%cr%Creset %C(bold white) %Creset '  ) $k " ; done | sort -r; }; f"
    bra = branch -a
[status]
	showuntrackedfiles = all
[core]
	autocrlf = true
	safecrlf = false
	editor = 'c:/program files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin

