[safe]
	directory = C:/dev/projects/scripts
	directory = C:/dev/projects/configs
[user]
	name = Sean Mare
	email = sean.mare@gmail.com
[init]
	defaultBranch = dev
[web]
	browser = google-chrome
[push]
	default = simple
[color]
	ui = always
    diff = always
    interactive = always
    grep = always
    decorate = always
    showbranch = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = cyan
[color "status"]
    added = yellow
    changed = green
    untracked = bold red
[alias]
	s = status -s
    lg = log -n 20 --graph --abbrev-commit
[status]
	showuntrackedfiles = all